
body {
    background-color: rgb(75, 56, 76);
    font-family: 'Courier New', Courier, monospace;
}
.header {
    color: grey;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px;


}
h1 {
  font-size: 50px;
  color: royalblue;
  text-align: center;

}
.header nav {
    padding-top: 30px;
    margin-right: 20px;
    float: center;
    justify-content: center;

    
}
.header nav ul {
    list-style-type: disc;
}
.header na li {
    display: inline-block ;
    margin-left: 35px;
}
.bass-man {
    height: 1600px;
    width: 96%;
    background-image: url(../images/TotemFrogsMaxRat-740067.JPG) ;
    background-size: cover;
    background-position: center;
    border: solid;
    border-color: chartreuse;
    border-style: dotted;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;

}
h2 {


}

h3 {


}

p {

}

.portfolio {

}

.content {
    
}
.card {
    flex: 1 0 0;
    padding: 20px;
    text-align: center;
    border-style: groove;
    border-width: 2px;
    border-color: chartreuse;
    flex-wrap: wrap;
    display: flex;
}
.